apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: nginx-ingress-controller-monitor
  namespace: monitoring # Movido para namespace monitoring
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: ingress-nginx
      app.kubernetes.io/component: controller
  namespaceSelector:
    matchNames:
      - ingress-nginx # Namespace correto do NGINX Ingress
  endpoints:
    - port: prometheus
      path: /metrics
      interval: 30s
